html * {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
}


.underConstruction {
    text-align: center;
    margin-top: 25%;
}





nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: orange;
    border-radius: 3px;
}

nav ul li:hover {
    background-color: rgba(151, 161, 176, .05)
}

nav ul li {
    list-style-type: none;
}

#main-header {
    height: 35em;
    padding-bottom: 8em;
    padding-right: 4em;
}

#hello-header {
    /*padding-right: 7em;*/
}

#welcome-header {
    height: 25px;
}

#projects-section {
    background-image: url(/img/nasa-7Cz6bWjdlDs-unsplash.jpg);
    background-size: cover;
    border-radius: 3px;
    height: 15em;
    width: 50em;
}

#project-block {
    padding-top: 5em;
}
